// =========================================
// Typography
// =========================================

// Font Stacks
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$base--font-family       : 'Droid Sans Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary--font-family  : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 

// Sizing
$base--font-size            : ms(0);
$base--line-height          : $base--font-size * $golden;

// -----------------
// Base Text Styles
// -----------------

// Body Text
body { 
	font-size: $base--font-size; 
	font-family: $secondary--font-family
}

// Headers
h1, h2, h3, h4, h5, h6 {
	font-family: $base--font-family;
}

h1, .h1 { font-size: ms(3.5); }
h2, .h2 { font-size: ms(3); }
h3, .h3 { font-size: ms(2); }
h4, .h4 { font-size: ms(1.5); }
h5, .h5 { font-size: ms(0.75); }